.wrapper{width: 100%; max-width: 1349px; margin: auto;}
.top__header{width: 100%; background: #F5F5F5; border-bottom: 1px solid #E8E8E8;}
#top__header{width: 1200px; margin: auto;}
.midle__header{background: #fff;}
.slogan__top img{height: 40px;}
.left__top__head{font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-right: 40px; height: 50px; line-height: 50px;}
.left__top__head .fa{ background: none repeat scroll 0 0 #0298f0; border-radius: 16px 16px 16px 16px; color: #FFFFFF; margin-right: 8px; padding: 4px 5px;}
.left__top__head span{font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; }
.slogan__top span{ padding: 5px 20px; background: #fe0265; color: #fff; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; border-radius: 4px; vertical-align: top;}
.slogan__top img{padding-top: 5px; padding-left: 10px;}
.right__top__head ul li{list-style: none; display: inline-block; padding-bottom: 1px; box-sizing:border-box;  padding: 0px 10px;}
.right__top__head ul li a{font-size: 13px; display: block; line-height: 48px;} 
.right__top__head ul li a:hover{color: #0192ea; border-bottom: solid 1px #0192ea;}
#midle__header{width: 1200px; margin: auto; display: table; }
.slogan__top{height: 50px; height: 50px; line-height: 50px;}
.logo{width: 20%; vertical-align: middle; display: table-cell; height: 112px; text-align: center;}
.logo img{margin: auto; max-width: 100%;}
.right__top__md{display: table-cell; vertical-align: middle; height: 112px;}
.mainmenu__icon .menu__item { float: left;  border-right: 1px dotted #CECECE; padding-right: 38px; margin-right: 38px; position: relative;}
.mainmenu__icon .menu__item .iconbox {background: none repeat scroll 0 0 #FFF; line-height: 32px; border: 1px solid #E1E1E1;border-radius: 50%;display: inline-block;position: relative;z-index: 1;width: 32px;text-align: center;height: 32px;float: left;margin-right: 10px;}
.mainmenu__icon .menu__item .iconbox i { line-height: 30px; color: #5C676E;}
.mainmenu__icon .menu__item .contentbox {
    float: left;
    position: relative;
    line-height: 25px;
}
.mainmenu__icon .menu__item .contentbox h4 {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 20px;
}
.mainmenu__icon .menu__item .contentbox h4 span {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.mainmenu__icon .menu__item .contentbox small {
    color: #7F7F7F;
    font-size: 13px;
    text-transform: none;
    white-space: nowrap;
}
.mainmenu__icon{float: right;}
.margin-right{margin-right: 0px !important;}
.navigation{background: url(../images/texture2.png) #0298f0; background-size: 39px 18px; }
#wrapper{width: 1200px; margin: auto; background: #fff; margin-top: 10px; padding: 10px; box-sizing:border-box;}
.left-slider{width: 49.5%; float: left;}
.right-slider{width: 49.5%; float: right;}
.owl-slider .owl-nav{display: none;}
.owl-slider .item{position: relative;}
.owl-slider .item h3{position: absolute; width: 100%; left: 0px; bottom: 0px; background: none repeat scroll 0 0 rgba(0,0,0,0.6); color: #fff; padding: 10px; font-family: 'Roboto Condensed', sans-serif; font-weight: normal; font-size: 14px;}
.owl-slider .owl-dots{position: absolute; bottom: 0px; right: 0;}
.owl-slider .owl-dots .owl-dot span{background: #0298f0 !important;}
.owl-slider .owl-dots .owl-dot span{width: 12px !important; height: 12px !important;}
.owl-slider .owl-dots .owl-dot.active span, .owl-slider .owl-dots .owl-dot:hover span{background: #fe0265 !important;}
.owl-video .item{position: relative;}
.owl-video .item .icon-video { left: 50%; position: absolute; top: 50%; margin-top: -32px; margin-left: -26px;}
.adsvertsing{line-height: 0; margin-top: 10px;}
.block-video{margin-top: 10px;}
.adsvertsing img{width: 100%;}
.items-video{float: left; position: relative; width: 32%; line-height: 0; margin-right: 11px;}
.items-video .icon-video { left: 50%; position: absolute; top: 50%; margin-left: -16px; margin-top: -18px;}
.items-video img{width: 100%;}
.items-video .icon-video img{width: 30px;}
.title-right h2{background: none repeat scroll 0 0 #F7F7F7; height: 40px; line-height: 35px; margin-bottom: 20px;}
.title-right h2 span{display: inline-block; font-family: 'Roboto Condensed', sans-serif; color: #0298f0; padding: 0px 20px; border-top: solid 3px #0298f0; font-size: 17px;}
.block-news{margin-top: 20px;}
.owl-slider .owl-item img{width: 100%;}
.owl-video .owl-item img{width: 100%;}
.owl-news .owl-item{box-sizing:border-box;}
.owl-news .owl-item .item img{float: left; margin-right: 10px;}
.owl-news .owl-item .item h3 a{font-family: 'Roboto Condensed', sans-serif; }
.owl-news .owl-item .item{padding: 8px; background: none repeat scroll 0 0 #F7F7F7; box-sizing:border-box;}
.block-product{margin-top: 20px;}
.items-product{width: 19%; display: inline-block; vertical-align: top; border: 1px dashed #c2c2c2; margin: 0px 4px; margin-bottom: 10px; border-radius: 3px;}
.img-product{overflow: hidden; text-align: center; overflow: hidden; border-radius: 3px;}
.items-product .img-product img{width:100%; border-radius: 3px; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.items-product .img-product:hover img{-webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear; -moz-transform: scale(1.02, 1.02); -webkit-transform: scale(1.02, 1.02); transform: scale(1.02, 1.02);}
#items-product{padding: 8px; position: relative;}
.items-product .info-product h3{height: 40px; overflow: hidden;}
.items-product .info-product h3 a{font-family: 'Roboto Condensed', sans-serif;}
.items-product .info-product{font-family: 'Roboto Condensed', sans-serif;}
.items-product .info-product .price span{font-weight: bold; color: #f30;}
.items-product .info-product .old-price span{text-decoration: line-through;}
.owl-news .item p{line-height: 20px;}

.promo-item.giamgia {
    position: absolute !important;
    right: 12px;
    top: -5px;
    padding: 5px 0 !important;
    background: #f75a85;
    border-radius: 4px !important;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 8px !important;
    color: #fff;
    line-height: 1.3em !important;
    text-transform: uppercase !important;
    white-space: nowrap;
    z-index: 10;
    font-family: 'Roboto Condensed', sans-serif;
}

.promo-item.giamgia:before {
    top: 94%;
    left: 0;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-top: 10px solid #f75a85;
    border-left: 17px solid transparent;
    border-right: 18px solid transparent;
}



.promo-item.giamgia b {
    font-size: 15px;
    display: block;
    margin: 2px 0 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
}

.right__top__head ul li .count-cart{position: relative;}
.right__top__head ul li .count-cart .fa-shopping-cart{padding: 6px 14px; color: #fff; text-align: center; vertical-align: middle; border: solid 1px #fff; background: #fe0265;}
.right__top__head ul li .count-cart span{
    position:absolute;color: #183546;
    min-width: 21px;
    line-height: 18px;
    border-radius: 50%;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #eee;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-weight: 400; 
    right:-10px;
    top: 5px;
}
.footer{margin-top: 20px; background: #fff; padding-top: 20px; padding-bottom: 20px;}
#footer{width: 1200px; margin: auto;}
.footer-detail{width: 40%; float: left; font-family: 'Roboto Condensed', sans-serif;}
.stk{width: 40%; float: right; text-align: right;}
.social{margin-top: 10px;}
.social img{width: 38px;}
.visit_hidden{height: 0px; width: 0px; overflow: hidden;}
.form_contact{padding-bottom: 10px; margin-bottom: 10px; border-bottom: dashed 1px #ccc;}
.form_lh label{font-family: 'Roboto Condensed', sans-serif; font-size: 14px;}
.form_lh .tflienhe{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;    
    box-sizing:border-box;
    margin-bottom:10px;
}
.form_lh .tflienhe:focus{outline:none;}
.form_lh{margin-bottom:20px;}
.button-contact {
    border: none;
    padding: 5px 20px;
    background: #0b9444;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.button-contact:hover {
    background: #00632d;
}
.ta_noidung{
    background-color:#FFFFFF; color:#666666; height:120px; width:100%; padding:10px; box-sizing:border-box;
}
.khung_trai{width: 40%; float: left;}
.khung_phai{width: 58%; float: right;}
#map_canvas{height: 350px;}
.box_new{margin-bottom: 10px; padding-bottom: 10px; border-bottom: dashed 1px #ccc;}
.box_new img{float: left; margin-right: 10px; border: dashed 1px #ccc; padding: 5px; border-radius: 4px;}



#info{margin-top: 20px;}

.container-left{width: 74%; float: left;}
.container-right{width: 24%; float: right; padding-top: 20px;}
.content-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin-bottom: 10px;
}
.content-date {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.title-left h2{height: 40px; line-height: 40px; border-top: 1px solid #ddd; margin-bottom: 10px;}
.title-left h2 span{font-family: 'UTMCafeta'; font-size: 20px; display: inline-block; text-transform: uppercase; border-top: 2px solid #000; color: #000; font-weight: normal; margin-top: -1px;}
.navi-left ul li{list-style: none; display: block; padding: 5px; border-bottom: dashed 1px #eee;}
.navi-left ul li a{font-family: 'Roboto Condensed', sans-serif; display: block; text-transform: uppercase; font-size: 14px; font-weight: normal;}
.moudle-right{margin-bottom: 20px;}
.items-hot-pro img{width: 75px; float: left; margin-right: 10px;}
.items-hot-pro{margin-bottom: 5px; padding-bottom: 5px; border-bottom: dashed 1px #eee;}
.items-hot-pro h3 a{font-family: 'Roboto Condensed', sans-serif; font-size: 14px;}
.items-hot-pro p{color: #cb0000; display: block; font-size: 12px; font-family: 'Roboto Condensed', sans-serif; font-weight: 400; padding: 4px 0;}
.items-hot-pro p span{font-family: 'UTMCafeta'; font-size: 15px; font-weight: normal;}

.box_new h3 a{font-family: 'Roboto Condensed', sans-serif; font-size: 16px;}
.dieuhuong{margin-bottom: 15px;}
.dieuhuong a{padding: 0px 5px; font-family: 'Roboto Condensed', sans-serif; font-size: 14px;}
button.mz-button.mz-button-close:before, button.mz-button.mz-button-next:before, button.mz-button.mz-button-prev:before{font: 900 34px/1 'magictoolbox-thin' !important;}

.frame_images{width: 38%; float: left; text-align: center; position: relative;}
.khung_thongtin{width: 56%; float: right;}
.selectors{text-align: center; width: 63%; margin: auto;margin-top: 5px; }
.name-product{
    font-family: 'UTMCafeta';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #111;
    margin-bottom: 20px;
}
.khung_thongtin li{list-style: none;}
.khung_thongtin .gia_detail{
    font-family: 'UTMCafeta';
    font-size: 30px;
    color: #db0000;
    line-height: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom:1px dashed #e0e0e0;
}
.khung_thongtin .giacu-detail{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 30px;    
}
.khung_thongtin .giacu-detail span{font-size: 12px; color: #ff6600;}
.khung_thongtin .giacu-detail font{text-decoration: line-through;}
.khung_thongtin .masp{font-size: 13px; color: rgb(65, 65, 65);}
.khung_thongtin .soluong-sp{font-size: 13px; color: rgb(65, 65, 65); padding: 5px 0px;}
.khung_thongtin .soluong-sp input{padding: 4px 6px; border-radius: 4px; border: solid 1px #ccc; text-align: center;}
.khung_thongtin .soluong-sp input:focus{outline: none;}
.dathang_detail{margin: 10px 0px; border-bottom: 1px dashed #e0e0e0; padding-bottom: 10px;}
.dathang_detail .thanhtoannhanh{background: url(../images/icon-bag.png) no-repeat 20px 4px #fd3832; cursor: pointer; color: #fff; display: inline-block; padding: 10px 70px; border-radius: 4px; line-height: 16px; padding-bottom: 5px;}
.dathang_detail .thanhtoannhanh span{font-family: 'UTMCafeta'; text-transform: uppercase; font-size: 30px;}
.dathang_detail .thanhtoannhanh font{font-size: 10px; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif;}
.khuyenmai_detail{font-family: 'Roboto Condensed', sans-serif; font-size: 13px;}
.selection{float: left; width: 55px;}
.review-comment > a:first-child {
    margin-top: 65px;
}
.review-comment .l-bx {
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 3px 0;
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 9px;
    color: #888;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.prod_dt_viewvideo i {
    font-size: 10px;
    margin-right: 5px;
}
.review-comment .countview-box {
    margin-top: 10px;
    display: block;
    color: #666;
    width: 55px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    padding: 5px 0;
}
.countview-box .number {
    color: #666;
    font-size: 14px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.countview-box .text {
    margin-top: 5px;
    font-size: 7px;
    text-transform: uppercase;
    display: block;
}
.review-comment .comment-box, .review-comment .countview-box {
    margin-top: 10px;
    display: block;
    color: #666;
    width: 55px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    padding: 5px 0;
    text-align: center;
}
.review-comment  .comment-box .number, .review-comment  .countview-box .number {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #db0000;
    display: block;
}
.review-comment .comment-box .text, .review-comment .countview-box .text {
    margin-top: 5px;
    font-size: 7px;
    text-transform: uppercase;
}
#khung_thongtin{width: 60%; float: left;}
.right-detail-product{width: 37%; float: right;}
.promotion-block{background: #F7F7F7; padding-bottom: 20px; border-radius: 0px 0px 4px 4px; margin-bottom: 20px;}
.promotion-block h3 {
    height: 30px;
    line-height: 30px;
    background-color: #a97858;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.31);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'Roboto Condensed', sans-serif;    
    margin-bottom: 0;
    margin-bottom: 30px;
}
.promotion-block h3 span {
    margin: 8px 10px 0;
    width: 35px;
    height: 35px;
    float: left;
    background-color: #a97858;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
}
.promotion-block h3 span .fa-gift:before{
    font-size: 24px;
}
.promotion-block p{padding-left: 10px; font-family: 'Roboto Condensed', sans-serif; font-size: 13px;}
.tab-pro a{display: inline-block; background: #F7F7F7; border-radius: 4px; border: solid 1px  #ccc; padding: 0px 5px; margin-right: 5px; margin-bottom: 5px;}
.tab-pro a:hover{background: #fd3832; color: #fff; border: solid 1px #fd3832;}




ul.tablayout {display: block;list-style-type: none;z-index: 2;position: relative;}
ul.tablayout li {margin: 0 2px 0 0;float: left;display: list-item;text-align: -webkit-match-parent;}

#tab_1, #tab_2, #tab_3, #tab_4{ }
ul.tablayout li a {display: block;height: 35px;font-family: 'Roboto Condensed', sans-serif ;font-size:12px;line-height: 35px;padding: 0 30px;color: #909090;background: #fff;text-decoration: none;border-bottom: 0;text-align: center;white-space:nowrap; border-bottom:none; font-weight:bold;}
ul.tablayout li a:hover{cursor:pointer;}
.tabs-container {clear: left;padding-top: 15px;display: block;line-height: 1.5;position:relative;z-index:1;background:#FFF; padding-bottom:10px;padding-left:15px;padding-right:15px; border-top:solid 1px #ccc; width: 100%;}
ul.tablayout li a.active{background: #fff;color:#333; border:solid 1px #ccc; border-bottom:none; position:relative;     -webkit-box-shadow: 4px 1px 0px #eeeeee;
    -moz-box-shadow: 4px 1px 0px #eeeeee;
    -ms-box-shadow: 4px 1px 0px #eeeeee;
    -o-box-shadow: 4px 1px 0px #eeeeee;
    box-shadow: 4px 1px 0px #eeeeee;
    border-radius: 4px 4px 0px 0px;
}
ul.tablayout li a.active:after{content:''; position:absolute; width:100%; height:1px; background:#fff; left:0px; bottom:-1px; z-index:3;}
.tabs-containe .tab{padding: 10px; box-sizing:border-box;}
.tab-product-detail{margin-top: 30px;}
.container-detail ul li{list-style: inside;}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-clip{width: 90%; margin: auto;}
#tab-product-detail{width: 70%; float: left;}
.product-fetured{width: 28%; float: right;}
.tab-product-detail{margin-bottom: 20px;}
.search-form ul ul{visibility: visible !important; opacity: 1 !important;}
ul.ui-autocomplete
    {
        list-style:none;
        background:#fff;
        min-width:280px;
        max-width:400px;
        z-index:9999;
        padding-top:7px;        
        display:none;
        position: absolute;
        top: 40px;
        right: 0;
    }
    ul.ui-autocomplete li
    {
        font-size:13px;
        border-bottom: dashed 1px #ccc;
        padding:2px 10px;
        list-style:none;
        cursor:pointer;
        min-height:50px;
        z-index:9999;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    ul.ui-autocomplete li a
    {
        text-decoration:none;
        color:#444444;
        transition:0.4s;
        font-family: 'Roboto Condensed', sans-serif ;
    }
    ul.ui-autocomplete li:hover{background: #eee;}
    ul.ui-autocomplete li img
    {
        float:left;
        height:40px;
        margin-right:7px;
        border:1px solid #DDD;
    }
    ul.ui-autocomplete li #price{
        font-family: 'UTMCafeta';
        font-size: 15px;
        font-weight: normal;
        color: #cb0000;
    }
    ul.ui-autocomplete li a:hover
    {
        color:red;
        transition:0.4s;
    }

.cart-icon{ height: 120px; position: relative; line-height: 120px;}
.cart-icon img{vertical-align: middle;}
.cart-icon a span{position: absolute; display: block; top:-15px; right: 0px; }
.cart-icon a span font{color: #fff; background: #d60c0c; font-weight: bold; padding: 1px 8px; border-radius: 10px;}
.container{margin-top:20px;}
.navi-responsive{display:none;}
.smenu {
    display: none;
    height: 50px;
    background-color: #0298f0;
}
.button-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #fff;
    cursor:pointer;
}
.button-toggle:hover {
    background-color: #333;
}
.smenu .icon-bar {
    background:#fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top:4px;
}    
#menu-rp{display:none; width: 100%; background: #fff;}
.margin-top-0{margin-top:0px !important;}
.cart-responsive{
    position: relative;
    float: left;
    padding: 5px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    color: #fff;
    cursor: pointer;
}
.cart-responsive .fa{font-size: 22px; color: #fff;}
.cart-responsive #total-res{color: #000;}
.cart-responsive span{    
    position: relative;
    background: #fff;
    padding: 1px 5px;
    border-radius: 50%;
    top: -13px;
    left: -5px;
}
.cart-responsive .fa-shopping-cart:before {
    font-size: 22px;
    color: #fff;
}

/* -----------------------Popup---------------------------*/
#popub {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 10001;
    text-align: center;
}
#loading, #popub {
    width: 100%;
    height: 100%;
    display: none;
}
#popub .popub {
    position: relative;
    max-width: 80%;
    margin: auto;
    display: inline-block;
}
#popub .popub .close_popup {
    position: absolute;
    cursor: pointer;
    background: url(../images/close.png) center center no-repeat;
    width: 60px;
    height: 60px;
    right: -33px;
    top: -33px;
    z-index: 999999;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 60px rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.1);
}
.close_popup {
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close_popup, .list-group-item>.badge {
    float: right;
}
#popub .popub .close_popup:hover {
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 0 20px rgba(255,255,255,.8);
}
#popub .popub img{width: 100%;}
.footer .table, tr, td{vertical-align: top;}
/* -----------------------End Popup---------------------------*/
@media screen and (min-width:1200px){   
    
}
@media screen and (max-width:1199px){
    #top__header{width: 100%;}
    #midle__header{width: 100%;}
    #wrapper{width: 100%;}
    #footer{width: 100%; padding-left: 10px; padding-right: 10px;}
}

@media screen and (min-width:1024px) and (max-width:1199px){
    .menu__item{margin-right:20px !important; padding-right: 20px !important;}
    .items-video{width: 31%;}
    .items-product{width: 23%; margin:0px 8px; margin-bottom: 10px;}
}

@media screen and (max-width:1023px){    
    .midle__header{display: block;}
    .right__top__md{width: 100%; display: block;}
    .logo{width: 100%; display: block;}
    .logo img{width: auto !important;}
    .items-video{width: 31%;}
    .items-product{width: 23%; margin:0px 8px; margin-bottom: 10px;}
    
}

@media screen and (min-width:992px) and (max-width:1023px){
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:991px){
    .right__top__head{display: none;}
    .left__top__head{width: 100%; text-align: center;}
    .slogan__top{display: none;}
    .right__top__md{display: none;}
    .navigation{display: none;}
    .smenu {display: block;}
    .navi-responsive{display:block;}
    .frame_images{width: 70%; margin-left: 20px;}
    .khung_thongtin{width: 100%; margin-top: 20px;}
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:991px){
    .items-product{width: 30%;}    
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:767px){
    .block-video{display: none;}
    .left-slider, .right-slider{width: 100%; float: none; margin-bottom: 5px;}
    .items-product{width: 30%;}
    .khung_trai{width: 100%; margin-bottom: 20px;}
    .khung_phai{width: 100%;}
    .container-left{width: 100%; margin-bottom: 20px;}
    .container-right{width: 100%;}
    #tab-product-detail{width: 100%; float: none;}
    .product-fetured{display: none;}
    .thanhtoan td{width: 50%; margin-bottom: 5px;}
    .thanhtoan input{width: 100% !important;}
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}
@media screen and (max-width:600px){
    .items-product{width: 46%;}
    .footer-detail{width: 100%; margin-bottom: 10px; text-align: center;}
    .stk{width: 100%; text-align: center !important;}
    #khung_thongtin{width: 100%; float: none;}
    .right-detail-product{width: 100%; float: none; margin-top: 20px;}
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}
@media screen and (min-width:480px) and (max-width:767px){
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:479px){
    .owl-news .owl-item .item img{width: 100%; float: none; margin-right: 0px;}
    .items-product{width: 45%; margin: 0px 5px; margin-bottom: 10px;}
    .box_new img{width: 100%; margin-right: 0px; margin-bottom: 10px;}
    ul.tablayout li{width: 100%; border: solid 1px #ccc;}
    ul.tablayout li a.active{box-shadow: none; border-radius: 0px;}
    .thanhtoan td{width: 100%; margin-bottom: 5px;}
    .footer-detail table {
        width: 100%;
    }
    .footer-detail table tr td:nth-child(2) {
        display: none;
    }
    .stk table {
        width: 100%;
    }
    .stk table tr td:nth-child(1) {
        display: none;
    }
}
@media screen and (max-width:240px){

}